body {

    margin:0;
    font-family: sans-serif;
    text-align: center;
    background-image:url(security.png);
    color: red;
    text-shadow: 2px 2px black;
    
}

input {
    margin: 10px;
}

button {
    margin: 5px;
    color:black;
    font-weight: bold;
    background-color: green;
}


p {
    width: 300px;
    margin: auto;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    font-weight: bold;
    color: aquamarine;   
    
}

input {
    position: absolute;
    left: 20px;
    
    margin: auto;
}
input[type="submit" i] {
    position: absolute;
    right:30px
    
}

input[type="text" i] {
    position: absolute;
    right:25px;
}