{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<h1>Password Generator</h1>
<body>
    <form  action = "/result" method = "POST">
    <p><label for="length" >Select Password Length:</label>

    
      <select name="length" id="length">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8" selected="selected">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    </select></p>
    
    <p><input type="checkbox"  name="mycheckbox" value="1">
    <label for="checkbox"> Include Symbols</label><br></p>
    <p><input type="checkbox"  name="mycheckbox" value="2">
    <label for="checkbox"> Include Numbers</label><br></p>
    <p><input type="checkbox"  name="mycheckbox" value="3">
    <label for="checkbox Characters"> Include Lowercase Characters</label><br></p>
    <p><input type="checkbox"  name="mycheckbox" value="4">
    <label for="checkbox"> Include Uppercase Characters</label><br></p>

    <div><p><input type="Submit" value="Generate Password"></div></p>
    
    {% if password %}
  <div><p><input name="final_pass" id="final_pass" type="text" size="30" value = {{password}} class="txt_password"  ;=""></p>
    {% endif %}
  
  
  </form></div>

  
			
			
		
</body>

{% endblock %}